<div class="page-container">
 

  <main>
    <button (click)="voltar()">Voltar</button>
    <div class="carrinho-container">
      <h2>Seu Carrinho</h2>

      <form>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" [(ngModel)]="cliente.nome" name="nome" required />

        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="cliente.email" name="email" required />

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" [(ngModel)]="cliente.telefone" name="telefone" required />
      </form>

      <div *ngIf="itens.length === 0">
        <p>Seu carrinho está vazio.</p>
      </div>

      <div *ngFor="let item of itens; let i = index" class="item-carrinho">
        <img [src]="getImagemUrl(item.imagem)" alt="{{ item.nome }}" class="produto-imagem" />
        <div>
          <h3>{{ item.nome }}</h3>
          <p>R$ {{ item.preco | number : '1.2-2' }}</p>
          <button (click)="remover(i)">Remover</button>
        </div>
      </div>

      <div *ngIf="itens.length > 0" class="resumo">
        <p>Total de Itens: <strong>{{ quantidadeTotal }}</strong></p>
        <p>Total a Pagar: <strong>R$ {{ total | number : '1.2-2' }}</strong></p>

        <button (click)="limpar()">Limpar Carrinho</button>
        <button (click)="finalizarCompra()">Finalizar Compra</button>
      </div>
    </div>
  </main>

  <app-footer-site></app-footer-site>
</div>
